.video {
    .cmp-embed {
        text-align: center;
    }

    iframe {
        aspect-ratio: 9 / 16;
        max-width: 100%;
        @include media('>=mobile') {
            aspect-ratio: 16 / 9;
        }   
    }

    .cmp-embed__vimeo {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .cmp-embed__vimeo-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}