<div class="breadcrumb breadcrumb--{{template}}">
  <nav id="breadcrumb-79f3b2aa78" class="cmp-breadcrumb" aria-label="Breadcrumb">
    <ol class="cmp-breadcrumb__list">
      <li class="cmp-breadcrumb__item">
        <a href="https://www.hardrock.com/" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Home</span>
        </a>
        <meta itemprop="position" content="1">
      </li>
      <li class="cmp-breadcrumb__item">
        <a href="https://hotel.hardrock.com/hard-rock-experience.aspx" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Experience</span>
        </a>
        <meta itemprop="position" content="2">
      </li>
       <li class="cmp-breadcrumb__item">
        <a href="https://hotel.hardrock.com/kids-and-teen-activities.aspx" class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="">
          <span itemprop="name">Activities</span>
        </a>
        <meta itemprop="position" content="3">
      </li>
      <li class="cmp-breadcrumb__item cmp-breadcrumb__item--active">
        <span itemprop="name">Pool</span>
        <meta itemprop="position" content="4">
      </li>
    </ol>
  </nav>
</div>