<!DOCTYPE HTML>
<html data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page" data-sly-use.basePage="com.shrss.core.models.BasePageModel" lang="${page.language}"
      data-sly-use.pwa="com.adobe.cq.wcm.core.components.models.PWA"
      data-sly-use.head="head.html"
      data-sly-use.footer="footer.html"
      data-sly-use.redirect="redirect.html">
    <head data-sly-call="${head.head @ page = page, pwa = pwa}"></head>
    <body class="${basePage.subClientLib} ${page.cssClassNames}"
          id="${page.id}"
          data-cmp-link-accessibility-enabled
          data-cmp-link-accessibility-text="${'opens in a new tab' @ i18n}"
          data-cmp-data-layer-enabled="${page.data ? true : false}"
          data-cmp-data-layer-name="${page.dataLayerName @ context='scriptToken'}">
        <script data-sly-test.dataLayerEnabled="${page.data}">
          var dataLayerName = '${page.dataLayerName @ context="scriptToken"}' || 'adobeDataLayer';
          window[dataLayerName] = window[dataLayerName] || [];
          window[dataLayerName].push({
              page: JSON.parse("${page.data.json @ context='scriptString'}"),
              event:'cmp:show',
              eventInfo: {
                  path: 'page.${page.id @ context="scriptString"}'
              }
          });
        </script>
        <sly data-sly-test.isRedirectPage="${page.redirectTarget && (wcmmode.edit || wcmmode.preview)}"
             data-sly-call="${redirect.redirect @ redirectTarget = page.redirectTarget}"></sly>
        <sly data-sly-test="${!isRedirectPage}">
            <sly data-sly-include="body.skiptomaincontent.html"></sly>
            <sly data-sly-include="body.html"></sly>
            <sly data-sly-call="${footer.footer @ page = page, pwa = pwa}"></sly>
        </sly>
    </body>
</html>
