<template data-sly-template.item="${@ list, item}">
    <a class="cmp-list__item-link" data-sly-attribute="${item.link.htmlAttributes}" data-sly-unwrap="${!list.linkItems || !item.link.valid}"
        data-cmp-clickable="${item.data ? true : false}">
        <span class="cmp-list__item-title">${item.title @context='html'}</span>
        <span data-sly-test="${list.showModificationDate}"
              class="cmp-list__item-date">${list.dateFormatString @format=item.lastModified}</span>
    </a>
    <span data-sly-test="${list.showDescription}" class="cmp-list__item-description">${item.description}</span>
</template>
