<div style="margin:20px 0"> H1 </div>
<div class="title">
  <div class="cmp-title">
    <h1 class="cmp-title__text">
      <a class="cmp-title__link" href="/title.html" title="This is the title attribute">
      <span class="cmp-title__eyebrow">Come Together Over</span>
      Exclusive Experiences
      </a>
    </h1>
  </div>
</div>
<div style="margin:20px 0"> H1 with eyebrow below </div>
<div class="title">
  <div class="cmp-title">
    <h1 class="cmp-title__text">
      <a class="cmp-title__link" href="/title.html" title="This is the title attribute">
      Exclusive Experiences
      </a>
      <span class="cmp-title__eyebrow">Come Together Over</span>
    </h1>
  </div>
</div>
<div style="margin:20px 0"> H2 </div>
<div class="title">
  <div class="cmp-title">
    <h2 class="cmp-title__text">
      <a class="cmp-title__link" href="/title.html" title="This is the title attribute">
      <span class="cmp-title__eyebrow">Come Together Over</span>
      Exclusive Experiences
      </a>
    </h2>
  </div>
</div>
<div style="margin:20px 0"> H3 with light colot </div>
<div style="background: black">
<div class="title cmp-title--light cmp-title--center">
  <div class="cmp-title">
    <h3 class="cmp-title__text">
      <a class="cmp-title__link" href="/title.html" title="This is the title attribute">
      <span class="cmp-title__eyebrow">Come Together Over</span>
      Exclusive Experiences
      </a>
    </h3>
  </div>
</div>
</div>
<div style="margin:20px 0"> H4 </div>
<div class="title">
  <div class="cmp-title cmp-title--right">
    <h4 class="cmp-title__text">
      <a class="cmp-title__link" href="/title.html" title="This is the title attribute">
      <span class="cmp-title__eyebrow">Come Together Over</span>
      Exclusive Experiences
      </a>
    </h4>
  </div>
</div>

<div style="margin:20px 0"> H5 </div>
<div class="title">
  <div class="cmp-title">
    <h5 class="cmp-title__text">
      <a class="cmp-title__link" href="/title.html" title="This is the title attribute">
      <span class="cmp-title__eyebrow">Come Together Over</span>
      Exclusive Experiences
      </a>
    </h5>
  </div>
</div>