<div class="footer-wrapper bg-{{variant}}" style="
    {{#if bgImgUrl}}
        background-image: url({{bgImgUrl}});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        {{else}}
        background-color: {{bgColor}};
        {{/if}}
    ">
    <footer>
        Footer
    </footer>
</div>