<div class="video embed">
    <div class="cmp-embed">
        <iframe class="cmp-embed__threed-iframe" {{#if width}}style="width: {{width}}px" {{/if}} title="External video"
            src="https://my.matterport.com/show/?m=dtZVXtc8zHX&amp;play=1&amp;lp=1&amp;ts=1&amp;hl=0&amp;mf=1"
            frameborder="0" allowfullscreen="" allow="autoplay; fullscreen" aria-label="External Video Label"></iframe>
    </div>
</div>