$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-7: 6;
$z-index-8: 8;
$z-index-9: 9;
$z-index-999: 999;
$z-index-header: $z-index-999;
$z-index-megamenu: $z-index-2;
$z-index-main-menu: $z-index-2;
$z-index-header-logo: $z-index-2;
$z-index-main-header: $z-index-2;
$z-index-main-header-after: $z-index-1;
$z-index-lang-dropdown: $z-index-1;
$z-index-lang-contentdropdown: $z-index-999;
$z-index-ham-icon: $z-index-3;
$z-index-hero-gradient: $z-index-1;
$z-index-hero-text: $z-index-2;
$z-index-carousel-icons: $z-index-1;
