<h1>Spacer 1</h1>
<div class="component">Content Above</div>
<div class="spacer-1"></div>
<div class="component">Content Below</div>

<h1>Spacer 2</h1>
<div class="component">Content Above</div>
<div class="spacer-2"></div>
<div class="component">Content Below</div>

<h1>Spacer 3</h1>
<div class="component">Content Above</div>
<div class="spacer-3"></div>
<div class="component">Content Below</div>

<h1>Spacer 4</h1>
<div class="component">Content Above</div>
<div class="spacer-4"></div>
<div class="component">Content Below</div>

<h1>Spacer 5</h1>
<div class="component">Content Above</div>
<div class="spacer-5"></div>
<div class="component">Content Below</div>

<h1>Spacer 6</h1>
<div class="component">Content Above</div>
<div class="spacer-6"></div>
<div class="component">Content Below</div>

<h1>Spacer 7</h1>
<div class="component">Content Above</div>
<div class="spacer-7"></div>
<div class="component">Content Below</div>

<h1>Spacer 8</h1>
<div class="component">Content Above</div>
<div class="spacer-8"></div>
<div class="component">Content Below</div>