<div class="accordion panelcontainer">
  <div
    id="accordion-2098845c33"
    class="cmp-accordion"
    data-cmp-data-layer="{&quot;accordion-2098845c33&quot;:{&quot;shownItems&quot;:[&quot;accordion-2098845c33-item-ace86c638b&quot;],&quot;@type&quot;:&quot;core-components-examples/components/accordion&quot;}}"
    data-placeholder-text="false"
  >
    <div
      class="cmp-accordion__item"
      data-cmp-hook-accordion="item"
      data-cmp-data-layer="{&quot;accordion-2098845c33-item-fa6a2b3734&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 2&quot;}}"
      id="accordion-2098845c33-item-fa6a2b3734"
    >
      <h3 class="cmp-accordion__header">
        <button
          id="accordion-2098845c33-item-fa6a2b3734-button"
          class="cmp-accordion__button"
          type="button"
          aria-controls="accordion-2098845c33-item-fa6a2b3734-panel"
          data-cmp-hook-accordion="button"
        >
          <span class="cmp-accordion__title">The Hard Rock Games product is
            giving me a one-time passcode (OTP) error message when I try to link
            my Unity by Hard Rock account; how do I fix this?</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div
        data-cmp-hook-accordion="panel"
        id="accordion-2098845c33-item-fa6a2b3734-panel"
        class="cmp-accordion__panel cmp-accordion__panel--hidden"
        role="region"
        aria-labelledby="accordion-2098845c33-item-fa6a2b3734-button"
        aria-hidden="true"
      >
        <div class="text">
          <div
            data-cmp-data-layer="{&quot;text-fa6a2b3734&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.</p>&quot;}}"
            id="text-fa6a2b3734"
            class="cmp-text"
          >
            <p>The first thing to try is to close out the app, re-open it and
              try again. If this doesn’t work, you can visit our Help page and
              contact us for additional support. The first thing to try is to
              close out the app, re-open it and try again. If this doesn’t work,
              you can visit our Help page and contact us for additional support.</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cmp-accordion__item"
      data-cmp-hook-accordion="item"
      data-cmp-data-layer="{&quot;accordion-2098845c33-item-ace86c638b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}"
      id="accordion-2098845c33-item-ace86c638b"
      data-cmp-expanded=""
    >
      <h3 class="cmp-accordion__header">
        <button
          id="accordion-2098845c33-item-ace86c638b-button"
          class="cmp-accordion__button cmp-accordion__button--expanded"
          type="button"
          aria-controls="accordion-2098845c33-item-ace86c638b-panel"
          data-cmp-hook-accordion="button"
        >
          <span class="cmp-accordion__title">The Hard Rock Games product is
            giving me a one-time passcode (OTP) error message when I try to link
            my Unity by Hard Rock account; how do I fix this?</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div
        data-cmp-hook-accordion="panel"
        id="accordion-2098845c33-item-ace86c638b-panel"
        class="cmp-accordion__panel cmp-accordion__panel--expanded"
        role="region"
        aria-labelledby="accordion-2098845c33-item-ace86c638b-button"
        aria-hidden="false"
      >
        <div class="text">
          <div
            data-cmp-data-layer="{&quot;text-ace86c638b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}"
            id="text-ace86c638b"
            class="cmp-text"
          >
            <p>The first thing to try is to close out the app, re-open it and
              try again. If this doesn’t work, you can visit our Help page and
              contact us for additional support. The first thing to try is to
              close out the app, re-open it and try again. If this doesn’t work,
              you can visit our Help page and contact us for additional support.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
