@font-face {
    font-family: CeraPro;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../resources/fonts/TypeMates\ -\ Cera\ Pro\ Regular.otf");
}

@font-face {
    font-family: CeraPro;
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url("../resources/fonts/TypeMates\ -\ Cera\ Pro\ Bold.otf");
}

// @font-face {
//     font-family: CeraPro;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 500;
//     src: url("../fonts/TypeMates - Cera Pro Medium.otf"),url("../fonts/TypeMates - Cera Pro Medium.ttf")
// }

// @font-face {
//     font-family: CeraPro;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 700;
//     src: url("../fonts/TypeMates - Cera Pro Bold.otf"),url("../fonts/TypeMates - Cera Pro Bold.ttf")
// }

// @font-face {
//     font-family: SangBleuSunrise;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 400;
//     src: url(../fonts/SangBleuSunrise-Regular.otf),url(../fonts/SangBleuSunrise-Regular.ttf)
// }

@font-face {
    font-family: SangBleuSunrise;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../resources/fonts/SangBleuSunrise-Regular.ttf");
}

// @font-face {
//     font-family: SimHei;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 400;
//     src: url(../fonts/SimHei.otf),url(../fonts/SimHei.ttf)
// }

// @font-face {
//     font-family: icons_051524;
//     src: url(../fonts/icons_051524.eot);
//     src: url(../fonts/icons_051524.eot?#iefix) format("eot"),url(../fonts/icons_051524.woff2) format("woff2"),url(../fonts/icons_051524.woff) format("woff"),url(../fonts/icons_051524.ttf) format("truetype"),url(../fonts/icons_051524.svg#icons_051524) format("svg")
// }
