.page-cafe {
       --color-button-primary: #f9b200;
       --color-button-primary-hover: #000000;
       --color-button-primary-light: #771111;
       --color-button-primary-light-hover: #000000;
       --color-button-secondary: #000000;
       --color-button-secondary-hover: #771111;
       --color-button-secondary-light: #f9b200;
       --color-button-tertiary: #f9b200;
       --color-text-light: #ffffff;
       --color-text-dark: #363636;
       --color-text-link-hover: #000000;
       --color-background-primary: #77531a;
       --color-button-text-primary: #000000;
       --color-button-text-primary-hover: #ffffff;
       --color-button-text-primary-light: #ffffff;
       --color-button-text-secondary: #000000;
       --color-button-text-secondary-hover: #ffffff;
}