<div class="hero hero--left hero--light hero--lg hero--gradient-off">
  <div id="teaser-4dd97e852b" class="cmp-teaser">
    <div class="cmp-teaser__body">
      <div class="cmp-teaser__content">
        <p class="cmp-teaser__pretitle">UNITY MEMBER RATES</p>
        <h2 class="cmp-teaser__title">SAVE UP TO 100%</h2>
        <div class="cmp-teaser__description">
          <p>
            Unlock exclusive member-only hotel rates. All Unity by Hard Rock
            members get exclusive room rates at Hotels and Casino Hotels just
            for being a member.
          </p>
        </div>
        <div class="cmp-teaser__action-container">
          <div class="button cmp-button--primary">
            <button type="button" class="cmp-button">LEARN MORE</button>
          </div>
        </div>
      </div>
    </div>
    <div class="cmp-teaser__image">
      <div class="cmp-image">
        <picture>
          <!-- Desktop Image -->
          <source
            media="(min-width: 1024px)"
            srcset="
              https://unity.hardrock.com/-/media/loyalty/campaigns/hotel/summer-together/summer-together-2800x1000.jpg?rev=37a2839dc8374c28a4d79b56dc2437e3
            "
          />
          <!-- Tablet and mobile Image -->
          <source
            media="(max-width: 1023px)"
            srcset="
              https://unity.hardrock.com/-/media/loyalty/campaigns/hotel/summer-together/summer-together-800x800.jpg?rev=6b303807d24e43a191f50360c1e9b5fb
            "
          />
          <!-- Fallback Image -->
          <img
            src="https://unity.hardrock.com/-/media/loyalty/come-together/other/maldives-2208x812.jpg?rev=5688991b94c04e70a88d68691b84eff1"
            loading="lazy"
            alt="fallback image"
            class="cmp-image__image"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
