
<div class="button cmp-button--primary">
  <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
    <span class="cmp-button__text">Primary</span>
  </button>
</div>

<div class="button cmp-button--primary disabled">
  <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
    <span class="cmp-button__text">Primary disabled</span>
  </button>
</div>


<div style="background-color: #3c3c3c;  display: flex; justify-content: space-around; padding: 10px 0">
<div class="button cmp-button--secondary">
  <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
    <span class="cmp-button__text">Secondary</span>
  </button>
</div>

<div class="button cmp-button--secondary disabled">
  <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
    <span class="cmp-button__text">Secondary</span>
  </button>
</div>

</div>

{{#ifEquals brand 'reverb'}}
<div style="background-color: #AB94B6;  display: flex; justify-content: space-around; padding: 10px 0">
<div class="button cmp-button--secondary-light">
  <button type="button" id="button-5487aab983" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-5487aab983&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
    <span class="cmp-button__text">Secondary light</span>
  </button>
</div>
</div>
{{/ifEquals}}


<div class="button cmp-button--tertiary">
  <a id="button-a1f53d50c2" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/content/core-components-examples/library/core-content/button.html">
    <span class="cmp-button__text">tertiary</span>
  </a>
</div>

{{#In brand 'reverb' 'cafe'}} 
<div class="button cmp-button--primary-light">
  <a id="button-a1f53d50c2" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/content/core-components-examples/library/core-content/button.html">
    <span class="cmp-button__text">Primary light</span>
  </a>
</div>
{{/In}}