$teaser-overlay-gradient: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0%) 30%,
  rgba(0, 0, 0, 80%) 99%,
  rgba(0, 0, 0, 100%) 100%
);

.teaser {
  .cmp-teaser {
    position: relative;
    box-shadow: 2px 1px 10px 0 rgba(0, 0, 0, 20%);
    display: flex;
    flex-direction: column-reverse;

    &__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 24px;
    }

    &__title {
      @extend %t1;

      margin-bottom: 10px;
    }

    &__description {
      @extend %p1;

      margin-bottom: 20px;
    }

    &--tertiary-btn {
      .cmp-button {
        padding: 0;
        min-width: unset;
        max-width: none;
        line-height: 24px;
        color: var(--color-button-primary) !important;
        background-color: transparent !important;
        text-decoration: underline;

        &::after {
          content: ">";
          display: inline;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__action-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .cmp-button {
        max-width: 100%;
        min-width: auto;
        margin-bottom: 0;
      }
    }

    &__image {
      width: 100%;

      .cmp-image {
        width: 100%;

        &__image {
          display: block;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &--shadow-disable {
    .cmp-teaser {
      box-shadow: none;
      background-color: transparent;
    }
  }
}
