@font-face {
    font-family: Lato;
    src: url("../resources/fonts/Lato-Regular.ttf") format("truetype"),
      url("../resources/fonts/Lato-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
  font-family: Lato;
  src: url("../resources/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family:Vollkorn;
  src: url("../resources/fonts/Vollkorn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family:'open sans';
  src: url("../resources/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family:'open sans';
  src: url("../resources/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}