<div class="separator">
  <div id="separator-6e548b2b7e" class="cmp-separator">
    <hr class="cmp-separator__horizontal-rule">
  </div>
</div>


<div class="separator separator--dark">
  <div id="separator-6e548b2b7e" class="cmp-separator">
    <hr class="cmp-separator__horizontal-rule">
  </div>
</div>
