<div class="hrc-location" data-component="findLocation" data-search-url="/locations.aspx" data-message="Please provide a city, state, or zip/postal code">
  <form class="hrc-location__form">
    <div class="hrc-location__label">
      <span class="hrc-location__label-text">Find a Hard Rock:</span>
    </div>
    <div class="hrc-location__container hrc-location__container--hide-md">
      <div class="hrc-location__input">
        <label for="hrc-location__input__label" class="hrc-location__input__text" aria-placeholder="Find a Location"></label>
        <input class="hrc-location__input__type" type="text" id="hrc-location__input__label" required name="hrc-location__input__label" placeholder="City, State, or Zip/Postal Code" pattern="[a-zA-Z\s,]*\d*" title="Please enter a valid city, state, or zip/postal code"/>
        <div class="button cmp-button--secondary">
          <button type="button" id="button-123" class="cmp-button">
            <span class="cmp-button__text">search</span>
          </button>
        </div>
      </div>
    </div>
    <div class="hrc-location__view">
      <span class="hrc-location__view__content">or</span>
       <div class="button cmp-button--secondary">
          <a id="button-a1f53d50c2" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-a1f53d50c2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/button&quot;,&quot;dc:title&quot;:&quot;Anchor Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-content/button.html&quot;}}" href="/locations.aspx">
            <span class="cmp-button__text">view all</span>
          </a>
        </div>
    </div>
  </form>
</div>