<div class="hrc-alert" data-component="alert" data-url="{{dataURL}}" role="region" aria-roledescription="carousel" aria-label="Alerts">
    <div class="hrc-alert__content">
        <button class="hrc-alert__prev {{prevIconClass}}" aria-controls="myCarousel-items" aria-label="Previous Slide"></button>
        <div class="hrc-alert__viewport">
          <ul class="hrc-alert__slides" id="myCarousel-items">
          </ul>
        </div>
        <button class="hrc-alert__next {{nextIconClass}}" aria-controls="myCarousel-items" aria-label="Next Slide"></button>
    </div>
</div>
{{> header}}