<div class="hrc-header--primary">
  <header class="hrc-header">
    <a href="#main" class="hrc-header__skip cmp-button--primary">Skip to content</a>
    <div class="hrc-header__crown">
      <nav class="hrc-header__container">
        <ul class="hrc-header__crown__left">
          <li class="hrc-header__crown__leftitem"><a href="" class="hrc-header__crown__link hrc-header__crown__link--active">Hard rock</a></li>
          <li class="hrc-header__crown__leftitem"><a href="/some/useful.uri" class="hrc-header__crown__link">Hotels</a></li>
          <li class="hrc-header__crown__leftitem"><a href="/some/useful.uri" class="hrc-header__crown__link">Cafes</a></li>
          <li class="hrc-header__crown__leftitem"><a href="/some/useful.uri" class="hrc-header__crown__link">Casinos</a></li>
          <li class="hrc-header__crown__leftitem"><a href="/some/useful.uri" class="hrc-header__crown__link">Rock Shop</a></li>
          <li class="hrc-header__crown__leftitem"><a href="/some/useful.uri" class="hrc-header__crown__link">Entertainment</a></li>
          <li class="hrc-header__crown__leftitem"><a href="/some/useful.uri" class="hrc-header__crown__link">Games</a></li>
          <li class="hrc-header__crown__leftitem"><a href="/some/useful.uri" class="hrc-header__crown__link">bet</a></li>
        </ul>
        <nav class="hrc-header__crown__right">
          <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--unity">
            <i class="fas fa-user"></i>
            <span class="hrc-header__button__text">Unity Sign In / Join</span>
          </a>
          <div class="hrc-header__dropdown">
            <a class="hrc-header__button hrc-header__button--map" data-target="dropdownElement" href="#" role="button">
              <span class="fas fa-map-marker"></span>
              <span class="hrc-header__button__text"></span>
            </a>
            <ul id="dropdownElement" class="hrc-header__dropdown__content">
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--map">Portuguese</a>
              </li>
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--map">Hindi</a>
              </li>
            </ul>
          </div>
          <div class="hrc-header__dropdown">
            <a class="hrc-header__button hrc-header__button--lang" data-target="dropdownElement" href="#" role="button">
              <span class="fas fa-globe"></span>
              <span class="hrc-header__button__text">English</span>
            </a>
            <ul id="dropdownElement" class="hrc-header__dropdown__content">
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--lang">Portuguese</a>
              </li>
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--lang">Hindi</a>
              </li>
            </ul>
          </div>
          <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--secondary">
            <span class="hrc-header__button__text">Reserve a Table</span>
          </a>
          <div class="hrc-header__dropdown">
            <a class="hrc-header__button hrc-header__button--primary" data-target="dropdownElement" href="#" role="button">
              <span class=""></span>
              <span class="hrc-header__button__text">Order Now</span>
            </a>
            <ul id="dropdownElement" class="hrc-header__dropdown__content">
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--primary">Portuguese</a>
              </li>
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--primary">Hindi</a>
              </li>
            </ul>
          </div>
        </nav>
      </nav>
    </div>
    <div class="hrc-header__main">
      <div class="hrc-header__container">
        <div class="hrc-header__logo">
          <a href="/some/useful.uri" class="hrc-header__logolink">
            <img src="https://www.hardrock.com/files/5880/LargeLogo.png" alt="HardRock" class="hrc-header__logoicon">
          </a>
        </div>
        <nav class="hrc-header__main__button">
          <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--unity">
            <i class="fas fa-user"></i>
            <span class="hrc-header__button__text">Unity Sign In / Join </span>
          </a>
          <div class="hrc-header__dropdown">
            <a class="hrc-header__button hrc-header__button--map" data-target="dropdownElement" href="#" role="button">
              <span class="fas fa-map-marker"></span>
              <span class="hrc-header__button__text"></span>
            </a>
            <ul id="dropdownElement" class="hrc-header__dropdown__content">
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--map">Portuguese</a>
              </li>
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--map">Hindi</a>
              </li>
            </ul>
          </div>
          <div class="hrc-header__dropdown">
            <a class="hrc-header__button hrc-header__button--lang" data-target="dropdownElement" href="#" role="button">
              <span class="fas fa-globe"></span>
              <span class="hrc-header__button__text">English</span>
            </a>
            <ul id="dropdownElement" class="hrc-header__dropdown__content">
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--lang">Portuguese</a>
              </li>
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--lang">Hindi</a>
              </li>
            </ul>
          </div>
          <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--secondary">
            <span class="hrc-header__button__text">Reserve a Table </span>
          </a>
          <div class="hrc-header__dropdown">
            <a class="hrc-header__button hrc-header__button--primary" data-target="dropdownElement" href="#" role="button">
              <span class=""></span>
              <span class="hrc-header__button__text">Order Now</span>
            </a>
            <ul id="dropdownElement" class="hrc-header__dropdown__content">
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--primary">Portuguese</a>
              </li>
              <li class="hrc-header__dropdown__item">
                <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--primary">Hindi</a>
              </li>
            </ul>
          </div>
          <button class="hrc-header__ham-icon" id="hamBtn">
            <span class="hrc-header__ham-icon--line"></span>
            <span class="hrc-header__ham-icon--line"></span>
            <span class="hrc-header__ham-icon--line"></span>
          </button>
        </nav>

        <div class="hrc-header__main__menu" id="menu">
          <nav class="hrc-header__main__nav">
            <ul class="hrc-header__main__menulist">
              <li class="hrc-header__main__menuitem">
                <a href="/some/useful.uri" class="hrc-header__main__menu-link">
                  Menu
                </a>
              </li>
              <li class="hrc-header__main__menuitem">
                <a href="/some/useful.uri" class="hrc-header__main__menu-link">
                  Locations
                </a>
              </li>
              <li class="hrc-header__main__menuitem">
                <a href="/some/useful.uri" class="hrc-header__main__menu-link">
                  Catering
                </a>
              </li>
              <li class="hrc-header__main__menuitem">
                <a href="/some/useful.uri" class="hrc-header__main__menu-link">
                  Parties &amp; Events
                </a>
              </li>
              <li class="hrc-header__main__menuitem">
                <a href="/some/useful.uri" class="hrc-header__main__menu-link">
                  What's Happening
                </a>
              </li>
              <li class="hrc-header__main__menuitem">
                <a href="/some/useful.uri" class="hrc-header__main__menu-link">
                  Gift Card
                </a>
              </li>
              <li class="hrc-header__main__menuitem">
                <a href="/some/useful.uri" class="hrc-header__main__menu-link">
                  Shop
                </a>
              </li>
            </ul>
            <div class="hrc-header__main__aside">
              <p class="hrc-header__main__asidetitle">
                HARD ROCK
              </p>
              <ul class="hrc-header__main__aside__list">
                <li class="hrc-header__main__aside__listitem"><a href="/some/useful.uri" class="hrc-header__main__aside__listlink">Hotels</a></li>
                <li class="hrc-header__main__aside__listitem"><a href="/some/useful.uri" class="hrc-header__main__aside__listlink">Cafes</a></li>
                <li class="hrc-header__main__aside__listitem"><a href="/some/useful.uri" class="hrc-header__main__aside__listlink">Casinos</a></li>
                <li class="hrc-header__main__aside__listitem"><a href="/some/useful.uri" class="hrc-header__main__aside__listlink">Rock Shop</a></li>
                <li class="hrc-header__main__aside__listitem"><a href="/some/useful.uri" class="hrc-header__main__aside__listlink">Entertainment</a></li>
                <li class="hrc-header__main__aside__listitem"><a href="/some/useful.uri" class="hrc-header__main__aside__listlink">Games</a></li>
                <li class="hrc-header__main__aside__listitem"><a href="/some/useful.uri" class="hrc-header__main__aside__listlink">bet</a></li>
              </ul>
            </div>
          </nav>

          <div class="hrc-header__mainmenu__button">

            <div class="hrc-header__dropdown">
              <a class="hrc-header__button hrc-header__button--lang" data-target="dropdownElement" href="#" role="button">
                <span class="fas fa-globe"></span>
                <span class="hrc-header__button__text">English</span>
                <span class="fas fa-chevron-down hrc-header__button__chev" id="chevIcon"></span>
              </a>
              <ul id="dropdownElement" class="hrc-header__dropdown__content">
                <li class="hrc-header__main__aside__listitem">
                  <a href="/some/useful.uri" class="hrc-header__main__aside__listlink">Portuguese</a>
                </li>
                <li class="hrc-header__main__aside__listitem">
                  <a href="/some/useful.uri" class="hrc-header__main__aside__listlink">Hindi</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="hrc-header__main__fixedbtn">
            <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--secondary">
              <span class="hrc-header__button__text">Reserve a Table </span>
            </a>
            <div class="hrc-header__dropdown">
              <a class="hrc-header__button hrc-header__button--primary" data-target="dropdownElement" href="#" role="button">
                <span class=""></span>
                <span class="hrc-header__button__text">Order Now</span>
              </a>
              <ul id="dropdownElement" class="hrc-header__dropdown__content hrc-header__dropdown__content--up">
                <li class="hrc-header__dropdown__item">
                  <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--primary">Portuguese</a>
                </li>
                <li class="hrc-header__dropdown__item">
                  <a href="/some/useful.uri" class="hrc-header__button hrc-header__button--primary">Hindi</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div></header>
</div>
<main class="teaser-cmp hrc-main">
  <img src="https://cafe.hardrock.com/files/5282/23412644_ImageLargeWidth.avif" alt="">
</main>